<section>
    <div class="dias_e_temas">
        <ul>
            <li> (dia) - (local): <a href="primeiroDia" id="primeiroDia" class="active">O que é Back-End e o que é Spring Framework</a></li>
            <li> (dia) - (local): <a href="segundoDia" id="segundoDia" class="active">Introdução a APIs RESTful e às Camadas de Sistema no Spring</a></li>
            <li> (dia) - (local): <a href="terceiroDia" id="terceiroDia" class="active">A decidir</a></li>
            <li> (dia) - (local): <a href="quartoDia" id="quartoDia" class="active">A decidir</a></li>
            <li> (dia) - (local): <a href="quintoDia" id="quintoDia" class="active">Projeto Final</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>

