<section>
    <div class="dias_e_temas">
        <ul>
            <li> (23/02/2026) - (Lab Ensino): <a href="primeiroDia" id="primeiroDia" class="active">O que é Back-End e o que é Spring Framework</a></li>
            <li> (24/02/2026) - (Lab Ensino): <a href="segundoDia" id="segundoDia" class="active">Introdução a APIs RESTful e às Camadas de Sistema no Spring</a></li>
            <li> (25/02/2026) - (Lab Ensino): <a href="terceiroDia" id="terceiroDia" class="active">Regras de negócio e Documentação</a></li>
            <li> (26/02/2026) - (Lab Ensino): <a href="quartoDia" id="quartoDia" class="active">Segurança e Banco de Dados/Projeto Final pt. 1</a></li>
            <li> (27/02/2026) - (Lab Ensino): <a href="quintoDia" id="quintoDia" class="active">Projeto Final pt. 2</a></li>
        </ul>
        <script src="assets/js/script_dia.js"></script>
    </div>
</section>

