<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./assets/css/styles.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
        <link rel="icon" href="https://i.ibb.co/RD7XwYH/pet-logo.png" type="image/png">
    </head>
    <body class="layoutConteudo">
        {% include nav.html %}
        <div>
            <main>
                <div class="conteudo-justificado">
                    {{ content }}
                </div>
            </main>
            <script src="./assets/js/sumario_script.js"></script>
        </div>
    </body>
</html>

<script type="text/javascript">
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  },
  options: {
    ignoreHtmlClass: 'highlight|code'
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>